.page {
  min-width: $mobite-width;
  max-width: $desktop-width;
  margin: 0 auto;
  background-color: $white;
  font-family: $font-regular;
  font-size: 20px;
  line-height: 27px;
  color: $white;
}

.page__main {
  margin-top: -107px;
}

