.promo__wrapper {
  margin-top: 70px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo__information {
  max-width: 515px;
}

.promo__title {
  margin: 0;
  font-family: $font-title;
  font-size: 48px;
  line-height: 55px;
}

.promo__title-text {
  background: linear-gradient(45deg, #d0ac6e, #fee5a5, #e2c383);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promo__lead {
  margin: 15px 0;
  font-size: 28px;
  line-height: 35px;
}

.promo__time {
  max-width: 335px;
  margin: 35px 0;
  font-family: $font-bold;
  font-size: 28px;
  line-height: 35px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 2px;
    bottom: -12px;
    left: -2px;
  }
}

.promo__registration {
  margin-top: 48px;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
  color: $lite-blue;
}

.promo__video {
  position: relative;
  margin-top: 10px;
  width: 555px;
  height: 372px;
  background-color: #dddfff;

  &::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 94px;
    background-color: #e53728;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 22px;
  }

  &::after {
    content: "";
    position: absolute;
    border: 22px solid transparent;
    border-left: 35px solid $white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: calc(50% + 15px);
  }
}

.promo__button {
  box-shadow: 0px 0px 15px rgba(255, 222, 145, 0.3);
}

.promo__features {
  margin-bottom: 192px;
}
