html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Open Sans Regular";
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts//open-sans-v18-latin_cyrillic-regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Bold";
  font-weight: 700;
  src: url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Semibold";
  font-weight: 600;
  src: url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Bold";
  font-weight: 700;
  src: url("../fonts/cera-pro-bold.woff2") format("woff2"),
    url("../fonts/cera-pro-bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller Bold";
  font-weight: 700;
  src: url("../fonts/muller-bold.woff2") format("woff2"),
    url("../fonts/muller-bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@import "variables.scss";
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/container.scss";
@import "blocks/promo.scss";
@import "blocks/button.scss";
@import "blocks/features.scss";
@import "blocks/site-list.scss";
@import "blocks/schedule.scss";
@import "blocks/gallery.scss";
@import "blocks/sale.scss";
@import "blocks/footer.scss";
