// FONTS

$font-regular: "Open Sans Regular", Arial, sans-serif;
$font-medium: "Open Sans Semibold", Arial, sans-serif;
$font-bold: "Open Sans Bold", Arial Bold, sans-serif;
$font-title: "Cera Pro Bold", Arial Bold, sans-serif;
$font-gallery: "Muller Bold", Arial Bold, sans-serif;

// COLOR

$white: #ffffff;
$black: #000000;
$lite-blue: #acd7ff;
$dark-blue: #142247;

// BREAKPOINTS

$mobite-width: 320px;
$desktop-width: 1920px;
$content-width: 1206px;
